name: Content Copy
run-name: Pull Request Generator (User - ${{ github.ref_name }})

env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
    push:
        branches:
            - content_copy/**

jobs:
    copy_content:
        runs-on: [self-hosted]
        timeout-minutes: 10
        permissions:
            contents: write
 
        steps:
            - uses: actions/checkout@v4
        
            - name: Get Details
              id: get_detail
              run: |
                    cat copy_details >>  $GITHUB_OUTPUT
                    cat "$GITHUB_OUTPUT"


            - name: Copy
              run: |
                echo "prodname ==> ${{ steps.get_detail.outputs.prodname }}"
                echo "stepping ==> ${{ steps.get_detail.outputs.stepping }}"
                echo "source ==> ${{ steps.get_detail.outputs.source }}"
                echo "content_type ==> ${{ steps.get_detail.outputs.content_type }}"

                /nfs/site/disks/integ_dfx_wa_14/rzlcn2x/vkhor/mow/my_repo/applications.automation.client-hw.common.pde-mow-scripting.git-latest/bin/content_copy.py --prodname ${{ steps.get_detail.outputs.prodname }} --stepping ${{ steps.get_detail.outputs.stepping }} --content_type ${{ steps.get_detail.outputs.content_type }} --source ${{ steps.get_detail.outputs.source }}
                /nfs/site/disks/integ_dfx_wa_14/rzlcn2x/vkhor/mow/my_repo/applications.automation.client-hw.common.pde-mow-scripting.git-latest/bin/content_copy.py --prodname ${{ steps.get_detail.outputs.prodname }} --stepping ${{ steps.get_detail.outputs.stepping }} --content_type ${{ steps.get_detail.outputs.content_type }} --source ${{ steps.get_detail.outputs.source }}
                git push   origin --delete ${{ github.ref }}

                
