name: Content Copy
run-name: Pull Request Generator (User - ${{ github.actor }})

env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  workflow_dispatch:
    inputs:
      prodname:
        description: 'prodname'
        required: true
        default: 'info'

jobs:
    copy_content:
        runs-on: [self-hosted]
        timeout-minutes: 10
        permissions:
            contents: write
 
        steps:
            - uses: actions/checkout@v4
        
            - name: Copy
              run: |
                echo "prodname ==> ${{ github.event.inputs.prodname }}"
                echo "stepping ==> ${{ github.event.inputs.stepping }}"
                echo "source ==> ${{ github.event.inputs.source }}"
                echo "content_type ==> ${{ github.event.inputs.content_type }}"

                /nfs/site/disks/integ_dfx_wa_14/rzlcn2x/vkhor/mow/my_repo/applications.automation.client-hw.common.pde-mow-scripting.git-latest/bin/content_copy.py --prodname ${{ github.event.inputs.prodname }} --stepping ${{ github.event.inputs.stepping }} --content_type ${{ github.event.inputs.content_type }} --source ${{ github.event.inputs.source }}
                /nfs/site/disks/integ_dfx_wa_14/rzlcn2x/vkhor/mow/my_repo/applications.automation.client-hw.common.pde-mow-scripting.git-latest/bin/content_copy.py --prodname ${{ github.event.inputs.prodname }} --stepping ${{ github.event.inputs.stepping }} --content_type ${{ github.event.inputs.content_type }} --source ${{ github.event.inputs.source }}
                git push   origin --delete ${{ github.ref }}

                
