name: Content Copy
run-name: Pull Request Generator (User - ${{ github.actor }})

env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
    push:
        branches:
            - content_copy/**

jobs:
    copy_content:
        runs-on: [self-hosted]
        timeout-minutes: 10
        permissions:
            contents: write
 
        steps:
            - uses: actions/checkout@v4
        
            - name: Get Details
              id: get_detail
              run: |
                    set PRODNAME = `grep "prodname" copy_details | cut -d'=' -f2 `
                    echo "prodname=$PRODNAME" >> $GITHUB_OUTPUT
                    echo "$GITHUB_ENV"

            - name: Copy
              run: |
                echo "${{ github.ref }}"
                echo "${{ github.ref_name }}"
                echo "${{github.triggering_actor}}"
                echo "${{ env.prodname }}"
                set PRODNAME = `grep "prodname" copy_details | cut -d'=' -f2 `
                echo "$GITHUB_OUTPUT"
                echo "prodname=`grep "prodname" copy_details | cut -d'=' -f2 `" >> $GITHUB_OUTPUT
                cat "$GITHUB_OUTPUT"
                echo "steps.get_detail.outputs.prodname"

                /nfs/site/disks/integ_dfx_wa_14/rzlcn2x/vkhor/mow/my_repo/applications.automation.client-hw.common.pde-mow-scripting.git-latest/bin/content_copy.py --prodname ${{env.prodname}} --stepping p0 --content_type reset --source /nfs/site/disks/integ_dfx_wa_14/rzlcn2x/vkhor/mow/my_repo/content/reset
                /nfs/site/disks/integ_dfx_wa_14/rzlcn2x/vkhor/mow/my_repo/applications.automation.client-hw.common.pde-mow-scripting.git-latest/bin/content_copy.py --prodname ${{env.prodname}} --stepping p0 --content_type func_atom --source /nfs/site/disks/integ_dfx_wa_14/rzlcn2x/vkhor/mow/my_repo/content/reset
                git push   origin --delete ${{ github.ref }}

                
